@font-face {
  font-family:FINA;
  src: url(fonts/Lato-Thin.ttf)
}
@font-face {
  font-family:CELL;
  src: url(fonts/Lato-Black.ttf)
}
@font-face {
  font-family:ANDROID;
  src: url(fonts/Lato-Bold.ttf)
}
@font-face {
  font-family:BEBAS;
  src: url(fonts/BebasNeue-Regular.ttf)
}
@font-face {
  font-family:NOVA;
  src: url(fonts/Designer.otf)
}
:root{
  --color-blue:#012030;
  --color-white:#e7e7e7;
}
*{
  margin:0px;
  padding:0px;
}
body,html{
  width:100%;
  height:100vh;
}
header{
  margin-left:20px;
}
header >  h4{
  margin-top:40px;
}
.elemento-header{
  font-family:BEBAS;
  display:block;
  text-align:center;
  margin:50px 0px 20px 20px;
}
ul{
  display:flex;
  list-style:none;
  gap:10px;
  margin:20px;
}
.link{
  text-decoration:none;
  color:black;
}
.btn{
  padding:20px;
  background:#0E235F;
  border:solid black 2px;
  color:white;
  margin:20px;
}
/*Main*/
main{
  margin-top:30px;
  background:#0B1152;
  padding:20px;
  color:white;
}
.Artigo{
  margin:10px;
}
.Artigo > h2{
  padding:10px;
  font-size:2rem;
  font-family:BEBAS;
}
.Artigo > h4,h3{
  margin:70px;
}
p{
  font-family:CELL;
  font-size:1.2rem;
}
/*carregamento web*/
#loading{
  opacity:0;
  position:fixed;
  top:0;
  display:flex;
  justify-content:center;
  place-items:center;
  width:100%;
  content:" ";
  height:100vh;
  background:black;
  gap:20px;
}
.load{
  display:flex;
  width:50px;
  height:50px;
  content:" ";
  background:blue;
  border-radius:50%;
}
.to-do-List{
  opacity:0;
  transition:.3s;
  width:0;
  height:0;
}
#load1{
  animation:load 2s infinite ease-in-out reverse;
  animation-delay:.1s;
  transition:1s;
}
#load2{
  animation:load 2s infinite ease-in-out reverse;
  animation-delay:.4s;
  transition:1s;
}
#load3{
  animation:load 2s infinite ease-in-out reverse;
  animation-delay:.6s;
  transition:1s;
}
@keyframes load{
  0%{
    position:relative;
    top:0%;
  }
  100%{
    top:-20%;
    opacity:0.6;
    background:#3fe289;
  }
  /*caixa de dialogo*/
}
.dialogo{
  animation:msg .6s ease-in-out 1;
  position:fixed;
  display:block;
  width:300px;
  padding:0px 20px 20px 20px;
  background:#1F00A9;
  text-align:center;
  top:50%;
  left:25%;
  color:white;
  border-radius:4rem 0px 4rem 0rem;
}
.x{
  display:block;
  text-align:right;
  font-size:1.4rem;
  color:red;
  padding:5px;
}
.x:hover{
  color:white;
}
@keyframes msg{
  0%{
    opacity:0;
  }
  50%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}